.App {
  text-align: center;
  font-family: "Piazzolla", serif;
}

.Banner {
  text-align: center;
  background-color: black;
  color: white;
  height: 15vh;
  width: 100%;
  margin: 0;
}

img{
  height: 350px;
  width: 350px;
}

.product-title {
  max-height: 3em; /* Ajusta según sea necesario para dos líneas de texto */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Permite que el texto envuelva cuando exceda el límite de altura */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a dos líneas de texto */
  -webkit-box-orient: vertical;
}