.App {
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
}

.Banner {
  text-align: center;
  background-color: black;
  color: white;
  height: 15vh;
  width: 100%;
  margin: 0;
}

.product-container-column {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 25px;
  max-width: 60%; /* Por ejemplo, puedes ajustar el valor según tus necesidades */
  margin: 0 auto; /* Centra el contenedor en la página */
  h3 {
    text-align: center;
  }
}

.product-container-row {
  display: flex;
}

.product-image {
  flex: 1;
  padding: 10px;
}

.product-details {
  flex: 1;
  padding: 10px;
  align-self: flex-end; 
  h5 {
    text-align: justify;
    margin-right: 10%;
  }
  h2 {
    text-align: right;
    margin-right: 10%;
  }
}

